.form-style {
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 1.4rem 0;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    width: 100%;
    max-width: 400px;
}
.form-title {
    font-family: 'Roboto', 'Oxygen', sergoe UI;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
form label {
    padding-left: .8rem;
    margin-bottom: .5em;
}
form input {
    border-radius: 8px;
    border: none;
    padding: .7rem .8rem;
    font-size: 1.2rem;
    font-family: 'roboto';
    color: #303030;
}
form input:focus {
    outline: 3px solid #FA8022;
    box-shadow: rgba(94, 43, 23, 0.096) 0px 4px 25px;
}
.form-inp{
    display: flex;
    flex-direction: column;
    margin-bottom: .6rem;
    width: 100%;
}
.form-smoke-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
}
.form-inp-smoke {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 93%;
}

.form-smoke-container input {
    width: 100%;
    max-width: 165px;
}

.form-smoke-container label {
    width: 100%;
    text-align: left;
}

.btn {
    background-color: #fafafa;
    border: none;
    border-radius: 100px;
    padding: 1rem 3rem;
    transition: .150s;
    box-shadow: rgba(94, 43, 23, 0.096) 0px 4px 25px;
}

.btn span {
    text-transform: uppercase;
    font-size: 1.2rem;
    background: linear-gradient(to top left, #FF7E5F, #FEB47B);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn:hover {
    transform: scale(105%);
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 500px) {
    .form-smoke-container {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    
    .form-smoke-container input {
        width: 100%;
        max-width: 370px;
    }

    .form-smoke-container label {
        margin-left: -1rem;
    }
}