.progress-page {
    height: 100vh;
    display: flex;;
    align-items: center;
}
.compliment {
    color: #eee;
}

.days-completed {
    flex: 1;
    background-color: #FFC1B2;
    color: #eee;
    width: 250px;
    border-radius: 1em;
}

.not-smoked {
    background-color: #FFC1B2;
    color: #eee;
    width: 100px;
    border-radius: 1em;
}

.money-saved {
    background-color: #FFC1B2;
    color: #eee;
    width: 100px;
    border-radius: 1em;
}


